*
!components
!graphql
!pages
!public
!server
!sidecar/src
!sidecar/package.json
!sidecar/package-lock.json
!sidecar/tsconfig.json
!sidecar/webpack.config.js
!types/
!utils
!.env.local.prod
!.env.prod
!global.d.ts
!next.config.js
!next-env.d.ts
!package-lock.json
!package.json
!tsconfig.json
!tsconfig.server.json
